.co{
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    margin: 10px;
}
.contain{
    background: white;
    border-radius: 12px;
    width: 100%;
    max-width: 100%;
}
input{
    border: none;
    padding: 10px;
}
.header{
    background: #e8491d;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.header h2{
    margin: 0
}
form{
    width: 100%;
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#form button{
    background: #e8491d;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 15px;
    color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
}