
.hero{
    margin-bottom: 5%;
    margin: 10px;
}
.hero h2{
    color: #e8491d;
}
img{
    height: 100%;
    width: 180%;
}
@media  screen and (max-width: 760px) {
    .hero{
        margin: 2px;
    }
    img{
        width: 102%;
    }
}